/* CUSTOM CSS */

#site-header-menu .site-navigation ul.menu>li>a {
    font-size: 11px;
}

.ttm-box-view-overlay.overlay-none:before {
    background-color: transparent !important;
}

.widget_content .dropdown .btn-secondary {
    background-color: transparent;
    border: transparent;
    color: #223645;
    font-weight: 800;
    text-transform: uppercase;
}

.widget_info .widget_desc {
    font-size: 22px;
}

.text-blue {
    color: #00baeb !important;
}

.top_bar .top_bar_contact_item .top_bar_icon i {
    /* color: #e12454; */
    color: #fff;
}

.ttm-bgcolor-custom {
    background-color: #00baeb;
}

.ttm-bgcolor-custom i:hover {
    color: #fff !important;
}

.section-title h2.title,
.featured-title h3 {
    text-transform: initial;
}

.widget.offer_widget .ttm-btn {
    position: absolute;
    right: 130px;
    bottom: -10px;
    left: 44px;
    text-align: center;
}

.jxPOhn {
    bottom: 100px !important;
}

.dfBDQI {
    display: none !important;
}

@media (max-width: 575px) {
    .widget.offer_widget .ttm-btn {
        position: absolute;
        right: 48px;
        bottom: -20px;
        left: 4px;
        text-align: center;
    }
}